<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Index</title>

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="lib/carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">

  </head>
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img alt="Brand" src="img/logo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/list">正在热映</a></li>
                <li><a href="#">即将上映</a></li>
                <li><a href="#">Top250</a></li>
                <li><a href="#">口碑榜</a></li>
                <li><a href="#">北美票房榜</a></li>
                <li><a href="#">新片榜</a></li>
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <a href="/lists"><img src="img/search.png"></a>
              </form>
              <ul class="nav navbar-nav navbar-right">
                 <%if (!email) { %>
                  <li><a href="/login" class="login" ">登录</a></li>
                  <li><a href="/register" class="register">注册</a></li>
                  <% }else{ %>
                  <li><a href="/logout">退出</a></li>
                  <li><a href=""> 欢迎你:<%= email %></a></li>
                <% } %>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="../img/movie1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="../img/movie2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="../img/movie3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="page-header">
          <h1>正在热映</h1><a href="/list" class="navbar-right">More</a>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2410569976.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>极限特工3：回归</h3>
          <p>xXx: The Return of Xander Cage</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2411622136.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>欢乐好声音</h3>
          <p>Sing</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p2425658570.jpg" width="200" height="300">
          <h3>爱乐之城</h3>
          <p>La La Land</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2408407697.jpg" width="200" height="300">
          <h3>乘风破浪</h3>
          <p>乘风破浪</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row">
        <div class="page-header">
          <h1>即将上映</h1><a href="list.html" class="navbar-right">More</a>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2410287487.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>生化危机：终章</h3>
          <p>Resident Evil: The Final Chapter</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p2428992002.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>刺客信条</h3>
          <p>Assassin's Creed</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p2406645284.jpg" width="200" height="300">
          <h3>咸鱼传奇</h3>
          <p>咸鱼传奇</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p2428494681.jpg" width="200" height="300">
          <h3>三缺一</h3>
          <p>三缺一</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>

      <hr class="featurette-divider">

      <div class="row">
          <div class="page-header">
          <h1>Top250</h1><a href="list.html" class="navbar-right">More</a>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p480747492.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>肖申克的救赎</h3>
          <p>希望让人自由。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p511118051.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>这个杀手不太冷</h3>
          <p>怪蜀黍和小萝莉不得不说的故事。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p1910813120.jpg" width="200" height="300">
          <h3>霸王别姬</h3>
          <p>风华绝代。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img3.doubanio.com/view/movie_poster_cover/lpst/public/p510876377.jpg" width="200" height="300">
          <h3>阿甘正传</h3>
          <p>一部美国近现代史。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="page-header">
          <h1>口碑榜</h1><a href="list.html" class="navbar-right">More</a>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p480747492.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>肖申克的救赎</h3>
          <p>希望让人自由。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p511118051.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>这个杀手不太冷</h3>
          <p>怪蜀黍和小萝莉不得不说的故事。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p1910813120.jpg" width="200" height="300">
          <h3>霸王别姬</h3>
          <p>风华绝代。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img3.doubanio.com/view/movie_poster_cover/lpst/public/p510876377.jpg" width="200" height="300">
          <h3>阿甘正传</h3>
          <p>一部美国近现代史。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="page-header">
          <h1>北美票房榜</h1><a href="#" class="navbar-right">More</a>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p480747492.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>肖申克的救赎</h3>
          <p>希望让人自由。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p511118051.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>这个杀手不太冷</h3>
          <p>怪蜀黍和小萝莉不得不说的故事。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p1910813120.jpg" width="200" height="300">
          <h3>霸王别姬</h3>
          <p>风华绝代。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img3.doubanio.com/view/movie_poster_cover/lpst/public/p510876377.jpg" width="200" height="300">
          <h3>阿甘正传</h3>
          <p>一部美国近现代史。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="page-header">
          <h1>新片榜</h1><a href="list.html" class="navbar-right">More</a>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p480747492.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>肖申克的救赎</h3>
          <p>希望让人自由。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p511118051.jpg" alt="Generic placeholder image" width="200" height="300">
          <h3>这个杀手不太冷</h3>
          <p>怪蜀黍和小萝莉不得不说的故事。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img src="http://img7.doubanio.com/view/movie_poster_cover/lpst/public/p1910813120.jpg" width="200" height="300">
          <h3>霸王别姬</h3>
          <p>风华绝代。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 text-center">
          <img src="http://img3.doubanio.com/view/movie_poster_cover/lpst/public/p510876377.jpg" width="200" height="300">
          <h3>阿甘正传</h3>
          <p>一部美国近现代史。</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div>
    <script src="/lib/jquery-1.12.4.min.js"></script> 
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
